services:
  {{ proxy_name }}:
    image: {{ proxy_name }}
    container_name: {{ proxy_name }}
    hostname: {{ proxy_address }}
    ports:
      - "{{ proxy_port }}:1080"
    volumes:
      - /root/docker/socksproxy/sockd.conf:/etc/sockd.conf
    restart: unless-stopped
